body
{
  background: lightgray;
}


 .material-symbols-outlined
 {
   font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 90
 }


.header
{
  margin: 10px auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-align: center;
}

.menuButtons
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.name {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  transition: transform .2s; /* Animation */
}


.card {
  background-color: white;
  border: #9da0aa 5px solid ;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform .2s; /* Animation */

}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.type {
  background-color: #bdbdbd;
  border-radius: 4px;
  color: white;
  font-size: 9px;
  font-weight: bold;
  margin: 2px;
  padding: 4px 6px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}
/* Colors for all the different types.  */
.bug {
  background-color: #8cb230;
}
.dark {
  background-color: #58575f;
}
.dragon {
  background-color: #0f6ac0;
}
.electric {
  background-color: #eed535;
}
.fairy {
  background-color: #ed6ec7;
}
.fighting {
  background-color: #d04164;
}
.fire {
  background-color: #fd7d24;
}
.flying {
  background-color: #748fc9;
}
.ghost {
  background-color: #556aae;
}
.grass {
  background-color: #62b957;
}
.ground {
  background-color: #dd7748;
}
.ice {
  background-color: #61cec0;
}
.normal {
  background-color: #9da0aa;
}
.poison {
  background-color: #a552cc;
}
.psychic {
  background-color: #ea5d60;
}
.rock {
  background-color: #baab82;
}
.steel {
  background-color: #417d9a;
}
.water {
  background-color: #6890F0;
}

